extends base
include mixins/video

block title

    video(src= "/" + video.fileUrl, controls)
    

    h3=video.title
    p=video.description
    span Upload by 
        a(href=`/users/${video.owner.id}/profile`) #{video.owner.username}
    br
    small=video.createdAt
    ul 
        each hashtag in video.hashtags
            li=hashtag

    if video.owner.id === loggedInUser.id

        h4 
            a(href=`${video.id}/edit`) &rarr; Edit Video 
        h4 
            a(href=`${video.id}/delete`) &rarr; Delete Video 
